body{
    background:#a5b5c5;
    background:lightblue !important;
 }
 
 .box {
    background: #fff;
    /* border-radius: 4px; */
    /* display: block; */
    padding-bottom: 100%;
    /* height: calc(100vh/8) */
 }
 
#board {
    height: 100vh;
    max-width: 960px;
}